$background-colour: #222;

$foreground-colour: #555;
$foreground-colour-highlight: #888;

$text-colour-light: #aaa;
$text-colour-dark: #222;
$text-colour-dark-disabled: #555;

$accent-colour: #e68c18;

$font-family: 'Raleway', sans-serif;