$background-colour: #222;

$foreground-colour: #555;
$foreground-colour-highlight: #888;

$text-colour-light: #aaa;
$text-colour-dark: #222;
$text-colour-dark-disabled: #555;

$accent-colour: #e68c18;

$info-colour: #126077;
$error-colour: #961515;
$warning-colour: #9c6a0d;
$success-colour: #0a6e0a;


$font-family: 'Raleway', sans-serif;