<div class="station-lookup__input-wrapper">
  <input
    #stationLookupInput
    type="text"
    class="station-lookup__input"
    [placeholder]="placeholder"
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearchTermChange($event)"
    (click)="onInputSelected(stationLookupInput)"
  />
  <!-- <span (click)="findNearestStation()">find location</span> -->
  <app-find-nearest-station
    (nearestStation)="onResultSelected($event)"
  ></app-find-nearest-station>
  <app-loading-spinner
    [show]="loading"
    class="station-lookup__loading-spinner"
  ></app-loading-spinner>
</div>
<ul *ngIf="showSearchResults" class="station-lookup__result-list">
  <li class="station-lookup__no-results" *ngIf="noResults">No Results</li>
  <li
    class="station-lookup__result"
    *ngFor="let result of searchResults"
    (click)="onResultSelected(result)"
  >
    {{ result.stationName }}
  </li>
</ul>
